@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --main-color: rgb(230, 0, 255);
  --button-color: radial-gradient(circle at -20.71% 50%, #ff34f9 0,
      #ff38fb 16.67%, #ff3bf9 33.33%, #f23cf2 50%, #c73ce8 66.67%,
      #9f3dde 83.33%, #773ed5 100%);
}

html {
  font-size: 62.5%;
  /* overflow: hidden; */
}

body {
  background: var(--bg-color);
  color: #fff;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  cursor: default;
}

.navbar a {
  justify-content: baseline;
  font-size: 1.7rem;
  color: #fff;
  margin-left: 4rem;
  cursor: pointer;
  transition: 0.4s all ease;
}

.navbar a:hover {
  color: var(--main-color);
}

.dropdown {
  display: none;
}

/* CSS untuk burger menu */

.burger-menu {
  display: none;
  /* Sembunyikan burger menu secara default */
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  border-radius: 2px;
  transition: 0.4s;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

a.active {
  color: var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--button-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s all ease;
}

.btn:hover {
  box-shadow: none;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-img img {
  width: 400px;
  height: 400px;
  border-radius: 15%;
  box-shadow: 1px 1px 50px 1px var(--main-color, 0.15);
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 2px solid var(--main-color);
  background-color: transparent;
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s all ease;
}

.social-media a:hover {
  background: var(--button-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}

.about-img img {
  width: 400px;
  height: 400px;
  border-radius: 15%;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content {
  margin-left: 50px;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.services {
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg-color);
}

.services-content {
  margin-left: 10px;
}

.services-list {
  display: grid;
  text-align: start;
  align-items: baseline;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 80px 45px;
  gap: 5px;
}

.services-list div {
  background-color: var(--bg-color);
  box-shadow: 0 0 2rem var(--main-color);
  padding: 2px;
  border-radius: 10px;
  transition: background 0.3s, transform 0.5s;
  border: 2px solid var(--main-color);
}

.services-list div:hover {
  background: var(--second-bg-color);
  transform: translateY(-10px);
}

.services-list div h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  align-items: baseline;
}

.services-list div p {
  text-align: justify;
  margin-bottom: 10px;
  margin-right: 20px;
}

.portfolio {
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}

.portfolio-content {
  margin-left: 10px;
}

.portfolio-list {
  display: grid;
  align-items: baseline;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 1px;
  padding: 80px 45px;
  gap: 5rem;
  margin-bottom: 3rem;
}

.portfolio-list div {
  color: var(--main-color);
  background-color: var(--second-bg-color);
  box-shadow: 0 0 2rem var(--main-color);
  padding: 2px;
  border-radius: 10px;
  transition: background 0.3s, transform 0.5s;
  border: 2px solid var(--main-color);
}

.portfolio-list div h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: 1px;
  text-align: center;
  padding: 2px;
}

.portfolio-list div:hover {
  background: var(--bg-color);
  transform: translateY(-10px);
}

.portfolio-list div h3:hover {
  color: var(--main-color);
}

.portfolio-list div i {
  margin-top: 1px;
  margin-bottom: 1px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--button-color);
  padding: 5px;
  font-size: 20px;
  color: var(--main-color);
  transition: 0.5s all ease;
  background-color: transparent;
}

.portfolio-list div h3 i:hover {
  background: var(--button-color);
  color: var(--bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.portfolio-list div h1 {
  font-size: 35px;
  font-weight: 400;
  color: var(--main-color);
  padding: 2px;
  text-align: center;
}

.portfolio-list .trinity {
  padding: 10px;
  border: none;
  box-shadow: 0 0 5rem var(--bg-color);
}

.portfolio-list .trinity h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: 1px;
  text-align: center;
  padding: 5px;
}

.portfolio-list .trinity .counter {
  color: var(--main-color);
  font-size: 30px;
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: 1px;
  text-align: center;
  padding: 15px;
}

.portfolio-list .trinity h3:hover {
  color: var(--main-color);
}

/* Add a media query for screens with a maximum width of 768px (typical for smartphones in portrait mode) */
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
    /* Mengatur ukuran font dasar untuk lebih mudah dibaca di layar yang lebih kecil */
  }

  /* Header */
  .header {
    padding: 1rem 5%;
  }

  /* Logo */
  .logo {
    font-size: 1.8rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--bg-color);
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
  }

  .burger-menu {
    display: flex;
  }

  .bar {
    width: 20px;
  }

  /* Home Section */
  .home {
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 5%;
  }

  .home-content {
    text-align: center;
  }

  .home-content h3 {
    font-size: 1.8rem;
  }

  .home-content h1 {
    font-size: 2.5rem;
    margin-top: 4rem;
  }

  .home-img img {
    width: 300px;
    height: 300px;
  }

  .social-media {
    text-align: center;
  }

  .social-media a {
    margin: 1rem;
  }

  /* About Section */
  .about {
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 5%;
  }

  .about-img img {
    width: 300px;
    height: 300px;
  }

  .about-content h2 {
    text-align: center;
    font-size: 3rem;
  }

  .about-content h3 {
    font-size: 20px;
  }

  .about-content p {
    font-size: 10px;
  }

  .services {
    flex-direction: column;
    padding: 2rem 5%;
  }

  /* Services Section */
  .services-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 2rem;
  }

  .services-content h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .services-content h3 {
    text-align: center;
    font-size: 20px;
  }

  .services-content p {
    text-align: center;
    font-size: 5px;
  }


  /* Portfolio Section */
  .portfolio {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 5%;
  }

  .portfolio-content h2 {
    text-align: center;
    font-size: 3rem;
  }

  .portfolio-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .portfolio-list div h3 {
    padding: 0.5rem;
    font-size: 10px;
  }

  .portfolio-list div i {
    padding: 0.1rem;
    font-size: 10px;
  }

  /* Counter Section */
  .trinity {
    display: grid;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* Mengatur jarak antara elemen di dalam grid */
  }

  .counter {
    font-size: 3rem;
  }

  /* Mengatur BIRTH DAY untuk mengambil dua kolom */
  .trinity:last-child {
    grid-column: span 2;
    /* Mengatur BIRTH DAY untuk mengambil dua kolom */
    text-align: center;
  }

  /* Buttons */
  .btn {
    padding: 1rem 2.5rem;
    font-size: 1.4rem;
  }


  .dropdown {
    display: flex;
  }
  
  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 0;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-right: 30px;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg-color);
    border-radius: 10px;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 2rem var(--main-color);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.4s all ease;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    color: var(--main-color);
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: transparent;
  }
}